#cart_form .action-button:hover,
#cart_form .action-button:focus {
  background-color: #311b92;
}

#cart_form .action-button-previous {
  width: 100px;
  background: #616161;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  float: right;
}

#cart_form .action-button-previous:hover,
#cart_form .action-button-previous:focus {
  background-color: #000000;
}


#cart_form fieldset:not(:first-of-type) {
    display: none;
  }
  
  #cart_form input,
  #cart_form textarea {
    border: 1px solid lightgrey;
    border-radius: 10px; /* Adjust the value for more/less rounding */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.411); /* Shadow effect */
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: white;
    margin-bottom: 10px;
  }
  
  #cart_form input:focus,
  #cart_form textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #D77FA6;
    outline-width: 0;
  }
  
  #cart_form .action-button {
    width: 100px;
    background: #D77FA6;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0px 10px 5px;
    float: right;
  }


  .order-total{
    padding: 5px 20px 20px 20px;
    border-bottom: 2px solid #292929;
  }

  .order-final-total{
    padding: 20px 20px 20px 20px;
  }